@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 222.2 84% 4.9%;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

@media print {
  @page {
    margin: 1.5cm;
  }
  body {
    background: white;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}